/* Global CSS */

* {
  padding: 0;
  margin: 0;
  font-family: Mulish;
}

.sky-color {
  color: #82c5d5;
}
.btn-primary {
  width: 10.875rem;
  height: 3.25rem;
  background-color: #82c5d5;
  border-radius: 0.5rem;
  border: 0;
  color: #fff;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #77a3ae;
}

/* Nav Section */
nav h1 {
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
nav li {
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav img {
  width: 3.125rem;
}
nav a {
  text-decoration: none;
  color: #424247;
}
nav a:hover {
  color: #82c5d5;
}
.icon-div {
  display: flex;
  align-items: center;
}
.menubar {
  display: flex;
  gap: 2.75rem;
}
.nav-menu-phn {
  display: none;
}
/* Header Section CSS */
header {
  margin-top: 3.25rem;
}
.header-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.063rem;
}
.header-content {
  background-image: url("../images/bg-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 73.125rem;
  height: 500px;
  border-radius: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-content h1 {
  color: #fff;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 1.5rem;
}
.header-content p {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 3rem;
  width: 42.25rem;
}
.header-content input,
select {
  width: 10.875rem;
  height: 3.25rem;
  border-radius: 0.8rem;
  border: 0;
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.header-content button {
  font-size: 1rem;
}
.selection-div {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  border-radius: 0.8rem;
  display: flex;
  gap: 24px;
}

/* Main section styles */

.tour-showcase {
  display: flex;
  margin: 100px 150px;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.tour-showcase img {
  border-radius: 1rem;
}
.tour-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
}

.tour-showcase h1 {
  color: #131318;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.tour-showcase ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.tour-showcase p,
li {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  list-style-position: inside;
}
/* Destination section style */

.destiny-section {
  margin-top: 100px;
}
.destiny-section h3 {
  text-align: center;
  color: #131318;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.destiny-section p {
  margin: 24px 0 40px 0;
  text-align: center;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding: 0 250px;
}
.destiny-grid h3 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 800;
}
.destiny-grid {
  display: grid;
  grid-template-areas:
    "tok tok tok tok kana kana kana kana"
    "miya miya oki oki oki oki hako hako"
    "kyo kyo kyo osa osa osa osa osa";
    padding: 0 300px;
  gap: 24px;
}
.Tokyo {
  grid-area: tok;
  background-image: url('../Images/tokyo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  /* width: 100%; */
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Kana {
  grid-area: kana;
  background-image: url('../Images/kanazawa.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Miya {
  grid-area: miya;
  background-image: url('../Images/MiyajimaIsland.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Oki {
  grid-area: oki;
  background-image: url('../Images/Okinawa.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Hako {
  grid-area: hako;
  background-image: url('../Images/hakone.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Kyo {
  grid-area: kyo;
  background-image: url('../Images/kyoto.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Osa {
  grid-area: osa;
  background-image: url('../Images/osaka.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}