/* Global CSS */

* {
  padding: 0;
  margin: 0;
  font-family: Mulish;
}
body {
  margin: 0 auto;
}

.sky-color {
  color: #82c5d5;
}
.btn-primary {
  width: 10.875rem;
  height: 3.25rem;
  background-color: #82c5d5;
  border-radius: 0.5rem;
  border: 0;
  color: #fff;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #77a3ae;
}

/* Nav Section */
nav h1 {
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
nav li {
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon-div img {
  width: 3.125rem;
}
nav a {
  text-decoration: none;
  color: #424247;
}
nav a:hover {
  color: #82c5d5;
}
.icon-div {
  display: flex;
  align-items: center;
}
.menubar {
  display: flex;
  gap: 2.75rem;
}
.nav-menu-phn {
  display: none;
}
/* Header Section CSS */
header {
  margin-top: 3.25rem;
}
.header-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.063rem;
}
.header-content {
  background-image: url("../images/bg-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 73.125rem;
  height: 500px;
  border-radius: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-content:hover{
  background-image: url("../images/bg-header.gif");
}
.header-content h1 {
  color: #fff;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 1.5rem;
}
.header-content p {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 3rem;
  width: 42.25rem;
}
.header-content input,
select {
  width: 10.875rem;
  height: 3.25rem;
  border-radius: 0.8rem;
  border: 0;
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.header-content button {
  font-size: 1rem;
}
.selection-div {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  border-radius: 0.8rem;
  display: flex;
  gap: 24px;
}

/* Main section styles */

.tour-showcase {
  display: flex;
  margin: 100px 150px;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.tour-showcase img {
  border-radius: 1rem;
}
.tour-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
}

.tour-showcase h1 {
  color: #131318;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.tour-showcase ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.tour-showcase p,
li {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  list-style-position: inside;
}
/* Destination section style */

.destiny-section {
  margin-top: 100px;
}
.destiny-section h3 {
  text-align: center;
  color: #131318;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.destiny-section p {
  margin: 24px 0 40px 0;
  text-align: center;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding: 0 250px;
}
.destiny-grid h3 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 800;
}
.destiny-grid {
  display: grid;
  grid-template-areas:
    "tok tok tok tok kana kana kana kana"
    "miya miya oki oki oki oki hako hako"
    "kyo kyo kyo osa osa osa osa osa";
  padding: 0 300px;
  gap: 24px;
}
.Tokyo {
  grid-area: tok;
  background: url("../Images/tokyo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  /* width: 100%; */
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.Kana {
  grid-area: kana;
  background-image: url("../Images/kanazawa.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Miya {
  grid-area: miya;
  background-image: url("../Images/MiyajimaIsland.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Oki {
  grid-area: oki;
  background-image: url("../Images/Okinawa.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Hako {
  grid-area: hako;
  background-image: url("../Images/hakone.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Kyo {
  grid-area: kyo;
  background-image: url("../Images/kyoto.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Osa {
  grid-area: osa;
  background-image: url("../Images/osaka.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.destiny-grid div {
  transition:all 0.5s ease-in-out;
  background-size: 110%;
}
.destiny-grid div:hover {
  background-size: 140%;
}
/* Features styles */
.features-section {
  margin-top: 100px;
  padding: 0 250px;
}
.features-section h1 {
  text-align: center;
  color: #131318;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}
.features-section #text {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 48px;
}

.features-section img {
  width: 4rem;
}
.map,
.hotel,
.price {
  height: 284px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px;
  gap: 16px;
}
.features-title {
  color: #131318;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.features-des {
  color: #5a5a5d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.features-contain {
  display: grid;
  grid-template-areas:
    "hotel hotel map map"
    ". price price .";
  gap: 26px;
}
.hotel {
  grid-area: hotel;
  border: 1px solid rgba(99, 238, 251, 0.2);
  background: rgba(99, 203, 251, 0.05);
}
.hotel:hover{
  background: rgba(99, 177, 251, 0.371);
}
.map {
  grid-area: map;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.map:hover{
  background: rgba(41, 205, 246, 0.317);
}
.price {
  grid-area: price;
  border: 1px solid rgba(68, 195, 233, 0.2);
  background: rgba(68, 208, 233, 0.05);
}
.price:hover{
  background: rgba(68, 208, 233, 0.324);
}
/* Newsletter Section Styles */

.newsletter-section {
  display: flex;
  justify-content: center;
  margin-top: 113px;
  margin-bottom: 100px;
  gap: 24px;
}
.newsletter-section h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.newsletter-section p {
  color: #5a5a5d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.newsletter-section hr {
  border: 1px solid rgba(19, 19, 24, 0.1);
}
.newsletter-section input,
button {
  width: 393px;
  height: 52px;
  border-radius: 8px;
  border: 0;
}
.newsletter-section input {
  background-color: #1313180d;
}
.newsletter-section button {
  background-color: #82c5d5;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  cursor: pointer;
}
.newsletter-section button:hover {
  background-color: #65919c;
}
.newsletter-section input::placeholder {
  padding-left: 10px;
  color: #1313184d;
}
.offer-box {
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  color: #fff;
  border-radius: 1rem;
  background: #82c4d5ad;
  bottom: 50px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.email-bg {
  background-image: url(../images/email-bg.png);
  height: 422px;
  width: 40%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  position: relative;
}
.email-content {
  border: 1px solid #82c4d5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  border-radius: 1rem;
}

/* Footer Section Styles */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(19, 19, 24, 0.05);
  height: 502px;
  width: auto;
}
footer p {
  color: #5a5a5d;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 26px;
  padding: 0 355px;
}
.social-media {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 32px;
}
.social-media .odd > i {
  font-size: 34px;
  color: #131318;
}
.social-media .odd > i:hover {
  font-size: 34px;
  color: #747474;
}
.social-media .even > i {
  font-size: 34px;
  color: #82c4d5;
}
.social-media .even > i:hover {
  font-size: 34px;
  color: #769ca6;
}
.copyright {
  margin-top: 50px;
  border-top: 2px solid rgba(19, 19, 24, 0.1);
}
.copyright p {
  margin-top: 50px;
}
