@media screen and (max-width: 600px) {
  .header-main,
  .selection-div,
  .header-main,
  .tour-showcase,
  .newsletter-section,
  .video-section,
  .payments-method {
    flex-direction: column;
  }
  h1,
  h3 {
    font-size: 20px !important;
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .nav-menu-phn {
    display: block;
  }
  .nav-menu-phn img {
    width: 24px;
    float: right;
  }
  .nav-menu {
    display: none;
  }
  .selection-div {
    width: 80%;
  }
  .selection-div input,
  select,
  .btn-primary {
    width: 100%;
    height: 60px;
  }

  .header-content {
    width: 22rem;
    height: 100%;
    background-position: center;
    flex-direction: column;
    padding: 50px 0;
  }
  .header-content h1 {
    padding-top: 10px;
    font-size: 1.375rem;
  }
  .header-content p {
    font-size: 0.875rem;
    width: 19rem;
  }
  .tour-showcase {
    margin: 24px 15px;
    gap: 30px;
    padding: 20px;
  }
  .tour-showcase h1 {
    font-size: 20px;
  }
  .tour-showcase img {
    margin-top: 24px;
    width: 100%;
  }
  .tour-showcase button {
    width: 50%;
  }
  .tour-content {
    width: 100%;
  }
  .destiny-section {
    padding: 20px;
  }
  .destiny-section p {
    padding: 0;
  }
  .destiny-grid {
    display: grid;
    grid-template-areas:
      "tok"
      "kana"
      "miya"
      "oki"
      "hako"
      "kyo"
      "osa";
    padding: 10px;
  }
  .destiny-grid div {
    height: 176px;
  }
  .features-section {
    padding: 20px;
    margin-top: 20px;
  }
  .features-contain {
    display: grid;
    grid-template-areas:
      "hotel"
      "map"
      "price";
    gap: 30px;
  }
  .map,
  .hotel,
  .price {
    height: 289px;
  }
  .video-section {
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .video-section button {
    width: 50%;
  }
  .video-content-text {
    width: 80%;
    padding: 20px;
  }
  .video-preview video {
    width: 90%;
    margin-left: 20px;
  }
  .newsletter-section {
    margin: 20px;
  }
  .newsletter-section input,
  button {
    width: 100%;
  }
  .offer-box {
    width: 214px;
    height: 79px;
  }
  .email-bg {
    width: 100%;
  }

  .payments-method {
    gap: 20px;
    margin-bottom: 0px;
  }
  .payments-method h1 {
    margin-bottom: 0;
  }
  .payments-img img {
    display: none;
  }
  .payments-box {
    grid-template-areas:
      "mas"
      "visa"
      "ko"
      "we";
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 50px;
  }

  footer {
    margin: 0;
    padding: 40px;
    height: 350px;
  }
  footer p {
    color: #5a5a5d;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 26px;
    padding: 0;
  }
  .social-media {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 0;
  }
  .social-media i {
    font-size: 34px;
    color: #131318;
  }
  .copyright {
    margin-top: 25px;
    border-top: 2px solid rgba(19, 19, 24, 0.1);
  }
  .copyright p {
    margin-top: 20px;
  }
  footer .icon-div {
    margin-top: 33px;
    margin-bottom: 16px;
  }
}
