@media screen and (max-width: 600px) {
  .header-main,
  .selection-div, .header-main, .tour-showcase {
    flex-direction: column;
  }
  nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .nav-menu-phn {
    display: block;
  }
  .nav-menu-phn img {
    width: 24px;
    float: right;
  }
  .nav-menu {
    display: none;
  }
  .selection-div {
    width: 80%;
    
  }
  .selection-div input,
  select,
  .btn-primary {
    width: 100%;
    height: 60px;
  }

  .header-content {
    width: 22rem;
    height: 100%;
    background-position: center;
    flex-direction: column;
    padding: 50px 0;
  }
  .header-content h1 {
    padding-top: 10px;
    font-size: 1.375rem;
  }
  .header-content p {
    font-size: 0.875rem;
    width: 19rem;
  }
  .tour-showcase {
    margin: 24px 15px;
    gap: 30px;
    padding: 20px;
    
  }
  .tour-showcase h1 {
        font-size: 20px;
  }
  .tour-showcase img {
    margin-top: 24px;
    width: 100%;
  }
  .tour-showcase button {
          width: 50%;
  }
  .tour-content {
    width: 100%;
    
  }
  .destiny-section{
    padding: 20px;
  }
  .destiny-section p{
    padding: 0;
  }
  .destiny-grid {
    display: grid;
    grid-template-areas: 
    "tok"
    "kana"
    "miya"
    "oki"
    "hako"
    "kyo"
    "osa";
    padding: 10px;
  }
  .destiny-grid div {
    height: 176px;
  }
  .features-section {
    padding: 20px;
  }
  .features-contain {
    display: grid;
    grid-template-areas:
      "hotel"
      "map"
      "price";
    gap: 30px;
  }
  .map,
.hotel,
.price {
  height: 289px;
  }
}
